@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}
.swiper-pagination-bullet-active {
  background: black;
}

.tooltip .tooltip-text {
  white-space: nowrap;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 5px;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s 1s;

  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-size: 11px;
  font-weight: 300;
}
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Back to top */
#back-to-top {
  z-index: 9;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #f2f4f6;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#back-to-top.visible {
  display: block;
}

#back-to-top:hover {
  background-color: #338873;
}

.ontop {
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #798777;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: #798777;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.css-187mznn-MuiSlider-root {
  color: #338873 !important;
}
.css-jx1sa5-MuiSlider-thumb {
  border: 6px solid currentColor;
  background-color: white !important;
}
.css-jx1sa5-MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 6px rgb(62 151 87 / 11%) !important;
}
.css-jx1sa5-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: 0px 0px 0px 12px rgba(95, 176, 116, 0.11) !important;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 16px !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  padding: 8px 8px !important;
}
@media only screen and (min-width: 1024px) {
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    padding: 18px 14px !important;
  }
}

.son:hover > :not(:hover) {
  background-color: #555;
}

select {
  -webkit-appearance: none;
}
option {
  -webkit-appearance: none;
}
